$qizil: red;
@mixin buttonStyle($bg, $color: white) {
    border: none;
    padding: 10px 20px;
    background-color: $bg;
    border-radius: 5px;
    color: $color;
    font-size: 20px;
    cursor: pointer;
}

.add {
    @include buttonStyle(green);
}

@mixin border( $border-radius-top, $border-radius-bottom, $border-radius-right, $border-radius-left) {
    padding: 10px;
}

.card1 {
    background-color: red;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 300px;
    color: white;
    font-size: 30px;
}

.card2 {
    @extend.card1;
}